.homepage_container{
    height: 96vh;
}

.homepage_container .homapage_logo{
    margin: auto;
    width: 200px;
    text-align: center;
    padding-block: 1.4rem;
    margin-block: 2%;
}

.homepage_container .homapage_logo > img{
    width: "50%";
    object-fit: "fill";
}

.homepage_container .homapage_nav{
        display: flex;
        justify-content: space-between; /* to push the button to the right */
        align-items: center; /* to vertically center the button */
        border-bottom: 1px solid #dee2e6;
        margin-inline: 2.5rem;
        padding-bottom: 10px;
    
}
.homepage_container .homapage_nav h5{
    /* margin-left: 2rem; */
}
.homepage_container .homapage_nav button {
    display: block;
    background-color: #58d89c; /* Blue color as an example */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* margin-right: 2rem; */
}
.homepage_container .homepage_main{
    width: 100%;
    display: flex;
    padding: 0 10px;
}

.homepage_container .homepage_main .homepage_card_container{
    border: 1px solid red;
    width: 20rem;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_header > p, 
.homepage_container .homepage_main .homepage_card_container .homepage_card_header > h6{
    margin: 0;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_socials{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_socials .homepage_card_social{
    display: flex;
    gap: 14px;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_socials .homepage_card_social > p {
    padding: 5px;
    background-color: gray;
    border-radius: 5rem;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_desc > a{
    padding: 5px 8px;
    background-color: gray;
    border-radius: 5rem;
    width: max-content;
}

.homepage_container .homepage_main .homepage_card_container .homepage_card_desc > p{
    margin: 0;
}